@{
    ViewData["Title"] = "Proje Mimari Yapı Sistemi";
}
<h1>@ViewData["Title"]</h1>

<p>Bu proje DatabaseFirst Northwind, Repository Design Pattern, Asp.Net Mvc Core Kullanılarak hazırlanmıştır.</p>
